body {
    font-family: sans-serif;
    margin: 0 50px;
    background-image: url(./Background\ IMG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.header{
 font-size: 30px;
 font-weight: bold; 
 font-family: 'Pacifico', cursive;
 color:rgb(23,102,171)
}


.app {
    width: 500px;
    height: 600px;
    border: 5px solid  rgb(23,102,171);
    border-radius: 25px;
    padding: 15px;
    background-color: #fff;
    overflow-y: scroll;
}

.app::-webkit-scrollbar { 
    width: 0 !important 
}

#addNew {
    display: flex;
    background-color: rgb(23,102,171);
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: 'Unbounded', cursive; 
}

.fa-plus {
    background-color: rgba(171, 134, 134, 0.349);
    padding: 3px;
    border-radius: 3px;
}

.far, .fas {
    font-size: 1.5rem;
}


#tasks {
    display: flex-box;
    grid-template-columns: 1fr;
    gap: 16px;
}

#tasks div {
    background-color: rgba(109,164,210, 0.7);
    color: black;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 15px;
    display: grid;
    gap: 4px;
    
}

#tasks div.options {
    justify-self: right;
    display: flex;
    gap: 10px;
}

#tasks div.options i {
    cursor: pointer;
} 

.taskhead{
    font-size: 20px;
    font-weight: bold; 
    font-family: 'Pacifico', cursive;
    color:rgb(23,102,171);
    text-transform: uppercase;
   }
   
#msg {
    color: red;
    padding-top: 10px;
}

.desc {
    word-wrap: break-word;
    max-width: 450px;
}

